# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that is stored and accessed electronically. It provides a way to manage, store, and retrieve information efficiently. There are two main types of databases: SQL and NoSQL.

SQL (Structured Query Language) databases are based on a relational model, where data is organized into tables with rows and columns. SQL databases use SQL, a standard language for managing data in relational databases, to create, read, update, and delete data. SQL databases are best suited for applications that require complex querying and strong data consistency, such as financial applications or enterprise resource planning systems.

NoSQL (Not Only SQL) databases, on the other hand, do not use a fixed schema like SQL databases, and do not rely on SQL as the primary language for managing data. Instead, they use a variety of data models such as document, key-value, column-family, and graph. NoSQL databases are best suited for applications that require high scalability and availability, such as social networks or gaming applications.

The main differences between SQL and NoSQL databases are:

1. Data model: SQL databases use a relational data model, while NoSQL databases use various data models.
2. Schema: SQL databases have a fixed schema, while NoSQL databases have a dynamic schema.
3. Scalability: NoSQL databases are generally more scalable than SQL databases.
4. Consistency: SQL databases provide strong data consistency, while NoSQL databases provide weaker consistency.
5. Choosing between SQL and NoSQL databases depends on the specific requirements of the application. SQL databases are generally preferred for applications that require strong consistency and complex querying, while NoSQL databases are preferred for applications that require high scalability and availability.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of database objects such as tables, indexes, and constraints. DDL statements are used to create, modify, and delete database objects.

The following are the four primary DDL commands in SQL:

CREATE: The CREATE command is used to create a new database object, such as a table, index, or view. For example, the following SQL statement creates a new table named "customers":

CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   email VARCHAR(50) UNIQUE,
   age INT
);

DROP: The DROP command is used to remove a database object. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

ALTER: The ALTER command is used to modify the structure of a database object. For example, the following SQL statement adds a new column named "address" to the "customers" table:

ALTER TABLE customers ADD COLUMN address VARCHAR(100);

TRUNCATE: The TRUNCATE command is used to remove all data from a table. It is similar to the DELETE command, but it is faster and does not log individual row deletions. For example, the following SQL statement truncates the "customers" table:

TRUNCATE TABLE customers;

In summary, CREATE is used to create new database objects, DROP is used to remove database objects, ALTER is used to modify the structure of database objects, and TRUNCATE is used to remove all data from a table. These commands are essential for managing the structure of a database and the data stored within it.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a set of SQL commands used to manage data stored in a database. DML commands are used to insert, update, and delete data in a database.

The following are the three primary DML commands in SQL:

INSERT: The INSERT command is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "customers" table:
    
INSERT INTO customers (id, name, email, age) VALUES (1, 'John Smith', 'john@example.com', 30);
    
UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following SQL statement updates the email address of the customer with an ID of 1:

UPDATE customers SET email = 'john.smith@example.com' WHERE id = 1;

DELETE: The DELETE command is used to remove data from a table. For example, the following SQL statement removes the customer with an ID of 1 from the "customers" table:

DELETE FROM customers WHERE id = 1;

In summary, INSERT is used to add new data to a table, UPDATE is used to modify existing data in a table, and DELETE is used to remove data from a table. These commands are essential for managing the data stored in a database and ensuring its accuracy and integrity.

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL that is used to query data from a database. The SELECT statement is one of the most commonly used DQL commands in SQL, which is used to retrieve data from one or more tables in a database.

Here is an example of a SELECT statement:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

In this example, the SELECT keyword is used to specify the columns to be retrieved in the result set. The column names are separated by commas. The FROM keyword is used to specify the table or tables that the query will retrieve data from. The table names are separated by commas if multiple tables are being queried.

The WHERE keyword is used to filter the rows that meet a specific condition. The condition is specified using one or more comparison operators, such as =, <, >, <=, >=, and <>, combined with logical operators, such as AND, OR, and NOT.

For example, consider the following table of employees:

CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   department VARCHAR(50) NOT NULL,
   salary DECIMAL(10, 2) NOT NULL
);

To retrieve the names and salaries of employees who work in the "Sales" department and earn more than $50,000 per year, we can use the following SELECT statement:

SELECT name, salary
FROM employees
WHERE department = 'Sales' AND salary > 50000;

This query will return a result set containing the names and salaries of employees who meet the specified criteria.

In summary, the SELECT statement is used to retrieve data from one or more tables in a database. The columns to be retrieved are specified using the SELECT keyword, the table or tables are specified using the FROM keyword, and the rows to be retrieved are filtered using the WHERE keyword with one or more conditions.

# Q5. Explain Primary Key and Foreign Key.

In SQL, a primary key and a foreign key are both used to establish relationships between tables in a database.

A primary key is a column or a combination of columns in a table that uniquely identifies each row in that table. It cannot contain null values and must be unique for each row. The primary key is used to ensure data integrity and enforce referential integrity in a database. It is typically used as a reference by foreign keys in other tables. For example, consider the following table of customers:

CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   email VARCHAR(50) UNIQUE,
   age INT
);

In this example, the "id" column is the primary key, and it uniquely identifies each row in the "customers" table.

A foreign key is a column in a table that refers to the primary key of another table. It is used to establish a relationship between two tables by ensuring that the data in the foreign key column matches the data in the primary key column of the other table. A foreign key can contain null values, which means that a row in a table may not have a corresponding row in the related table. For example, consider the following table of orders:

CREATE TABLE orders (
   id INT PRIMARY KEY,
   customer_id INT,
   order_date DATE,
   total_amount DECIMAL(10, 2),
   FOREIGN KEY (customer_id) REFERENCES customers(id)
);

In this example, the "customer_id" column is a foreign key that refers to the "id" column in the "customers" table. This establishes a relationship between the "orders" table and the "customers" table, where each order belongs to a specific customer.

In summary, a primary key is a column or a combination of columns that uniquely identifies each row in a table, while a foreign key is a column in a table that refers to the primary key of another table. Both primary keys and foreign keys are essential for establishing relationships between tables and ensuring data integrity in a database.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Here is an example of how to connect to a MySQL database using Python:

In [ ]:
import mysql.connector

# create a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results
result = mycursor.fetchall()

# print the results
for row in result:
    print(row)


In this example, the mysql.connector module is used to connect to the MySQL database. The connect() method is used to establish a connection to the database, using the host, user, password, and database name.

Once the connection is established, a cursor object is created using the cursor() method. The cursor object is used to execute SQL queries and fetch the results.

The execute() method is used to execute an SQL query. The query is passed as a string argument to the execute() method. The query can include placeholders for data, which can be passed as a tuple argument to the execute() method.

The fetchall() method is used to fetch all the results of the query. The results are returned as a list of tuples, where each tuple represents a row in the result set.

Finally, the results are printed using a for loop that iterates over the rows in the result set.

In summary, the cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch the results. The execute() method is used to execute an SQL query, and the fetchall() method is used to fetch the results of the query.

# Q7. Give the order of execution of SQL clauses in an SQL query.

## In an SQL query, the clauses are executed in the following order:

FROM - This clause specifies the table or tables that the query will retrieve data from.

JOIN - This clause is used to join tables based on a common column between them.

WHERE - This clause is used to filter the rows that meet a specific condition.

GROUP BY - This clause is used to group the rows based on a specific column.

HAVING - This clause is used to filter the groups that meet a specific condition.

SELECT - This clause is used to specify the columns to be retrieved in the result set.

DISTINCT - This clause is used to remove duplicates from the result set.

ORDER BY - This clause is used to sort the result set based on a specific column.

LIMIT - This clause is used to limit the number of rows returned in the result set.

It's important to note that not all clauses are required in every SQL query, and some clauses may be executed together or in a different order depending on the specific query being executed. However, in general, the above order is followed for most SQL queries.